<div>
  <section id="content" class="light_section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

          <div ng-if="vm.errorMsg.length>0">
            <div class="alert alert-danger alert-dismissible" role="alert">
              <strong>Error! &nbsp;</strong>{{vm.errorMsg}}
            </div>
          </div>

          <div>
              <h1 class="text-center">Iniciar Sesión</h1>
          </div>

          <form name="form" role="form" ng-submit="login();" autocomplete="off">
            <div class="row">
              <div class="col-xs-12">
                <div  class="form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.email) }">
                  <label for="email" class="control-label">
                      <strong class="grey">Email </strong>
                      <span class="required">*</span>
                  </label>

                  <input type="text" class="form-control " name="email" maxlength="25"
                    ng-model="vm.email" ng-required="true" ng-trim="false"
                    ng-disabled= "vm.procesando"
                    placeholder="Email">
                </div>
              </div>

              <div class="col-xs-12">
                <div  class="form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.password) }">
                  <label for="password" class="control-label">
                      <strong class="grey">password </strong>
                      <span class="required">*</span>
                  </label>

                  <input type="password" class="form-control " name="password" maxlength="15"
                    ng-model="vm.password" ng-required="true" ng-trim="false"
                    ng-disabled= "vm.procesando"
                    placeholder="Password">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 text-center">
                <div class="form-group" ng-hide="vm.procesando">
                  <button type="submit" class="btn theme_button color1" ng-disabled="form.$invalid || vm.procesando">Ingresar</button>
                </div>
                <div ng-show="vm.procesando">
                  <i class="fa fa-refresh fa-spin"></i>
                  <strong> <small> Procesando... </small></strong>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
