<div>
	<section id="content" class="light_section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

					<div ng-if="vm.errorMsg.length>0">
						<div class="alert alert-danger alert-dismissible" role="alert">
							<strong>Error! &nbsp;</strong>{{vm.errorMsg}}
						</div>
					</div>

					<div>
						<h1 class="text-center">Register</h1>
					</div>

					<form class="shop-register" name="form" role="form" ng-submit="register();" autocomplete="off">
						<div class="row">
							<!-- Nickname -->
							<div class="col-xs-12">
								<div  class="form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.username) }">
									<label for="username" class="control-label">
										<strong class="grey">Nickname </strong>
										<span class="required">*</span>
									</label>

									<input type="text" class="form-control " name="username" maxlength="250"
									       ng-model="vm.name" ng-required="true" ng-trim="false"
									       ng-disabled= "vm.procesando"
									       placeholder="Nickname">
								</div>
							</div>

							<!-- Correo -->
							<div class="col-xs-12">
								<div  class="form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.email) }">
									<label for="email" class="control-label">
										<strong class="grey">Correo </strong>
										<span class="required">*</span>
									</label>

									<input type="text" class="form-control " name="email" maxlength="250"
									       ng-model="vm.email" ng-required="true" ng-trim="false"
									       ng-disabled= "vm.procesando"
									       placeholder="Correo">
								</div>
							</div>

							<!-- Clave / Contraseña -->
							<div class="col-xs-12">
								<div  class="form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.password) }">
									<label for="password" class="control-label">
										<strong class="grey">Contraseña </strong>
										<span class="required">*</span>
									</label>

									<input type="password" class="form-control " name="password" maxlength="150"
									       ng-model="vm.password" ng-required="true" ng-trim="false"
									       ng-disabled= "vm.procesando"
									       placeholder="Contraseña">
							       <input type="hidden" name="_token" value="ciwkd92kd092jd89w09">
								</div>
							</div>

							<!-- Nombre -->
							<div class="col-xs-12">
								<div  class="form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.nombre) }">
									<label for="nombre" class="control-label">
										<strong class="grey">Nombre </strong>
										<span class="required">*</span>
									</label>

									<input type="text" class="form-control " name="nombre" maxlength="250"
									       ng-model="vm.persona.nombre" ng-required="true" ng-trim="false"
									       ng-disabled= "vm.procesando"
									       placeholder="Nombre">
								</div>
							</div>

							<!-- Apellido paterno -->
							<div class="col-xs-12">
								<div  class="form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.apepat) }">
									<label for="apepat" class="control-label">
										<strong class="grey">Apellido paterno </strong>
										<span class="required">*</span>
									</label>

									<input type="text" class="form-control " name="apepat" maxlength="250"
									       ng-model="vm.persona.ape_paterno" ng-required="true" ng-trim="false"
									       ng-disabled= "vm.procesando"
									       placeholder="Apellido paterno">
								</div>
							</div>

							<!-- Apellido materno -->
							<div class="col-xs-12">
								<div  class="form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.apemat) }">
									<label for="apemat" class="control-label">
										<strong class="grey">Apellido materno </strong>
									</label>

									<input type="text" class="form-control " name="apemat" maxlength="250"
									       ng-model="vm.persona.ape_materno" ng-required="false" ng-trim="false"
									       ng-disabled= "vm.procesando"
									       placeholder="Apellido materno">
								</div>
							</div>

							<!-- Apellido de casada -->
							<div class="col-xs-12">
								<div  class="form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.apecas) }">
									<label for="apecas" class="control-label">
										<strong class="grey">Apellido de casada </strong>
									</label>

									<input type="text" class="form-control " name="apecas" maxlength="250"
									       ng-model="vm.persona.ape_casada" ng-required="false" ng-trim="false"
									       ng-disabled= "vm.procesando"
									       placeholder="Apellido de casada">
								</div>
							</div>

							<!-- Tipo de documento -->
							<div class="col-xs-12">
								<div  class="form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.tipodoc) }">
									<label for="tipodoc">Tipo de documento
										<span class="required">*</span>
									</label>
									<select id="tipodoc" name='tipodoc' class="form-control input-small"
									        ng-model="vm.persona.lt_tipo_identificacion" ng-required="true"
									        ng-options="tipo_ident.nombre for tipo_ident in vm.lt_tipo_identificacion">
									</select>
								</div>
							</div>

							<!-- Valor de documento -->
							<div class="col-xs-12">
								<div  class="form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.numdoc) }">
									<label for="numdoc" class="control-label">
										<strong class="grey">Número de documento</strong>
										<span class="required">*</span>
									</label>

									<input type="text" class="form-control " name="numdoc" maxlength="250"
									       ng-model="vm.persona.numero_identificacion" ng-required="true" ng-trim="false"
									       ng-disabled= "vm.procesando"
									       placeholder="Número de documento">
								</div>
							</div>

							<!-- Sexo -->
							<div class="col-xs-12">
								<div  class="form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.sexo) }">
									<label for="sexo">Sexo</label>
									<span class="required">*</span>
									<select id="sexo" name='sexo' class="form-control input-small"
									        ng-model="vm.persona.lt_sexo"
									        ng-options="sexo.nombre for sexo in vm.lt_sexo"
									        ng-required="true">
									</select>
								</div>
							</div>

							<!-- Estado civil -->
							<div class="col-xs-12">
								<div  class="form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.estcivil) }">
									<label for="estcivil">Estado civil</label>
									<span class="required">*</span>
									<select id="estcivil" name='estcivil' class="form-control input-small"
									        ng-model="vm.persona.lt_estado_civil"
									        ng-options="civil.nombre for civil in vm.lt_estado_civil"
									        ng-required="true">
									</select>
								</div>
							</div>

							<!-- Fecha de nacimiento -->
							<div class="col-xs-12">
								<div  class="form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.fec_nacimiento) }">
									<label for="fec_nacimiento" class="control-label">
										<strong class="grey">Fecha de nacimiento</strong>
										<span class="required">*</span>
									</label>

									<input type="date" id="fec_nacimiento" class="form-control" name="fec_nacimiento"
									       ng-model="vm.persona.fec_nacimiento"
									       ng-required="true">
								</div>
							</div>

							<!-- Teléfono -->
							<div class="col-xs-12">
								<div  class="form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.telefono) }">
									<label for="telefono" class="control-label">
										<strong class="grey">Teléfono</strong>
									</label>

									<input type="text" class="form-control " name="telefono" maxlength="250"
									       ng-model="vm.persona.telefono" ng-required="false" ng-trim="false"
									       ng-disabled= "vm.procesando"
									       placeholder="Teléfono">
								</div>
							</div>

						<!-- Ocupación -->
						<div class="col-xs-12">
							<div  class="form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.ocupacion) }">
								<label for="ocupacion">Ocupación</label>
								<span class="required">*</span>
								<select id="ocupacion" name='ocupacion' class="form-control input-small"
								        ng-model="vm.persona.lt_ocupacion"
								        ng-options="ocupacion.nombre for ocupacion in vm.lt_ocupacion"
								        ng-required="true">
								</select>
							</div>
						</div>

						<!-- Grupo sanguíneo -->
						<div class="col-xs-12">
							<div  class="form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.gruposang) }">
								<label for="gruposang">Grupo sanguíneo<span class="required">*</span></label>
								<select id="gruposang" name='gruposang' class="form-control input-small"
								        ng-model="vm.persona.lt_grupo_sanguineo"
								        ng-options="gruposang.nombre for gruposang in vm.lt_grupo_sanguineo"
								        ng-required="true">
								</select>
							</div>
						</div>

						<!-- Factor RH -->
						<div class="col-xs-12">
							<div  class="form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.rh) }">
								<label for="rh">Factor RH<span class="required">*</span></label>
								<select id="rh" name='rh' class="form-control input-small"
								        ng-model="vm.persona.lt_rh"
								        ng-options="rh.nombre for rh in vm.lt_rh"
								        ng-required="true">
								</select>
							</div>
						</div>

						<!-- Parentesco con el jefe de hogar -->
						<div class="col-xs-12">
							<div  class="form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.parjefe) }">
								<label for="parjefe">Parentesco con jefe de hogar</label>
								<span class="required">*</span>
								<select id="parjefe" name='parjefe' class="form-control input-small"
								        ng-model="vm.persona.lt_parentesco_jefe_hogar"
								        ng-options="parjefe.nombre for parjefe in vm.lt_parentesco_jefe_hogar"
								        ng-required="true">
								</select>
							</div>
						</div>

						<!-- ¿Víctima de violación de derechos humanos? -->
						<div class="col-xs-12">
							<div class="form-inline form-group">
								<input type="checkbox" id="ind_victima_violacion_ddhh"
								       ng-model="vm.persona.ind_victima_violacion_ddhh"
								       ng-true-value="true" ng-false-value="false">
								<label for="ind_victima_violacion_ddhh"
								       class="control-label col-xs-12 col-sm-6 text-right">¿Víctima de violación de derechos humanos?</label>
							</div>
						</div>

						<!-- ¿Provisión de anticonceptivos? -->
						<div class="col-xs-12">
							<div class="form-inline form-group">
								<input type="checkbox" id="ind_provision_anticonceptivos"
								       ng-model="vm.persona.ind_provision_anticonceptivos"
								       ng-true-value="true" ng-false-value="false">
								<label for="ind_provision_anticonceptivos"
								       class="control-label col-xs-12 col-sm-6 text-right">¿Provisión de anticonceptivos?</label>
							</div>
						</div>

						<!-- Nivel educativo -->
						<div class="col-xs-12">
							<div  class="form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.niveledu) }">
								<label for="niveledu">Nivel Educativo</label>
								<span class="required">*</span>
								<select id="niveledu" name='niveledu' class="form-control input-small"
								        ng-model="vm.persona.lt_nivel_educativo"
								        ng-options="niveledu.nombre for niveledu in vm.lt_nivel_educativo"
								        ng-required="true">
								</select>
							</div>
						</div>

						<!-- Centro Educativo -->
						<div class="col-xs-12">
							<div  class="form-group" ng-class="{ 'has-error' : hasErrors(form.centroedu) }">
								<label for="centroedu" class="control-label">
									<strong class="grey">Centro Educativo </strong>
								</label>

								<input type="text" class="form-control " name="centroedu" maxlength="250"
								       ng-model="vm.persona.centro_educativo" ng-required="false" ng-trim="false"
								       ng-disabled= "vm.procesando"
								       placeholder="Centro Educativo">
							</div>
						</div>

						<!-- Ingresos mensuales -->
						<div class="col-xs-12">
							<div class="form-inline form-group validate-required" ng-class="{ 'has-error' : hasErrors(form.ingresos) }">
								<label for="ingresos" class="control-label col-xs-12 col-sm-6 text-right">
									<strong class="grey">Ingresos Mensuales </strong>
									<span class="required">*</span>
								</label>

								<input type="text" id="ingresos" class="form-control col-xs-12 col-sm-6" name="ingresos"
								       maxlength="150"
								       ng-model="vm.paciente.persona.ingresos_mensuales" ng-required="true" ng-trim="false"
								       placeholder="Ingresos Mensuales">
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 text-center">
								<div class="form-group" ng-hide="vm.procesando">
									<button type="submit" class="btn theme_button color1" ng-disabled="form.$invalid || vm.procesando">Ingresar</button>
									<button type="reset" class="btn theme_button color1" ng-disabled="form.$invalid || vm.procesando">Limpiar</button>
								</div>
								<div ng-show="vm.procesando">
									<i class="fa fa-refresh fa-spin"></i>
									<strong> <small> Procesando... </small></strong>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>
