<div>
	<section id="content" class="light_section">
		<div class="container">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<!-- Message error -->
					<div ng-if="vm.errorMsg.length>0">
						<div class="alert alert-danger alert-dismissible" role="alert">
							<strong>Error! &nbsp;</strong>{{vm.errorMsg}}
						</div>
					</div>
					<!-- -------------- -->
					<div>
						<h3 class="text-center">BÚSQUEDA DE PACIENTES</h3>
					</div>
					<!-- Top Form -->
					<div class="form-inline text-center">
						<div class="form-group top-form-group">
							<label for="tipo_doc">Tipo de documento</label>
							<select id="tipo_doc" class="form-control input-small"
							        ng-model="vm.searchForm.lt_tipo_identificacion"
							        ng-options="tipo_ident.nombre for tipo_ident in vm.lt_tipo_identificacion">
							</select>
						</div>
						<div class="form-group top-form-group">
							<label for="nro_doc">Número de documento</label>
							<input type="text" class="form-control"
							       id="nro_doc"
							       ng-model="vm.searchForm.numero_identificacion"
							       placeholder="Nro Documento">
						</div>
					</div>
					<br>
					<!-- Top Buttons -->
					<div class="buttons">
						<div class="col-xs-4 text-center">
							<button class="btn btn-default" ng-click="search()">Buscar</button>
						</div>
						<div class="col-xs-4 text-center">
							<button class="btn btn-default" ng-click="vm.searchForm.clean()">Limpiar</button>
						</div>
						<div class="col-xs-4 text-center">
							<button class="btn btn-default" ng-click="vm.nuevo()">Nuevo</button>
						</div>
					</div>
					<!-- ------------ -->

					<!-- Paciente Form -->
					<!--<form name="form" role="form" ng-submit="login();" autocomplete="off">-->
					<form class="paciente-form" name="paciente_form" role="form" autocomplete="off">
						<div class="row">
							<div class="col-xs-12">
								<div class="form-inline form-group">
									<label class="control-label col-xs-12 col-sm-6 text-right">
										<strong class="grey">Tipo Documento </strong>
										<span class="required">*</span>
									</label>
									<select class="form-control input-small col-xs-12 col-sm-6"
									        ng-model="vm.paciente.persona.lt_tipo_identificacion"
									        ng-disabled="!vm.enablePacienteForm"
									        ng-options="lt_ti.nombre for lt_ti in vm.lt_tipo_identificacion">
									</select>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-inline form-group validate-required"
								     ng-class="{ 'has-error' : hasErrors(paciente_form.numero_identificacion) }">
									<label class="control-label col-xs-12 col-sm-6 text-right">
										<strong class="grey">Número de identificación </strong>
										<span class="required">*</span>
									</label>

									<input type="text" class="form-control col-xs-12 col-sm-6" name="numero_identificacion"
									       maxlength="150"
									       ng-disabled="!vm.enablePacienteForm"
									       ng-model="vm.paciente.persona.numero_identificacion" ng-required="true" ng-trim="false"
									       placeholder="Número de Identificación">
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-inline form-group">
									<label for="seguro" class="control-label col-xs-12 col-sm-6 text-right">
										<strong class="grey">Seguro </strong>
										<span class="required">*</span>
									</label>

									<select id="seguro" class="form-control input-small col-xs-12 col-sm-6"
									        ng-model="vm.paciente.lt_seguro"
									        ng-disabled="!vm.enablePacienteForm"
									        ng-options="lt_seguro.nombre for lt_seguro in vm.lt_seguro">
									</select>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-inline form-group validate-required"
								     ng-class="{ 'has-error' : hasErrors(paciente_form.numero_seguro) }">
									<label for="numero_seguro" class="control-label col-xs-12 col-sm-6 text-right">
										<strong class="grey">Número de Seguro </strong>
										<span class="required">*</span>
									</label>

									<input type="text" id="numero_seguro" class="form-control col-xs-12 col-sm-6"
									       name="numero_seguro" maxlength="150"
									       ng-disabled="!vm.enablePacienteForm"
									       ng-model="vm.paciente.numero_seguro" ng-required="true" ng-trim="false"
									       placeholder="Número de Seguro">
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-inline form-group validate-required"
								     ng-class="{ 'has-error' : hasErrors(paciente_form.ape_paterno) }">
									<label for="ape_paterno" class="control-label col-xs-12 col-sm-6 text-right">
										<strong class="grey">Apellido Paterno </strong>
										<span class="required">*</span>
									</label>

									<input type="text" id="ape_paterno" class="form-control col-xs-12 col-sm-6"
									       name="ape_paterno" maxlength="150"
									       ng-disabled="!vm.enablePacienteForm"
									       ng-model="vm.paciente.persona.ape_paterno" ng-required="true" ng-trim="false"
									       placeholder="Apellido Paterno">
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-inline form-group validate-required"
								     ng-class="{ 'has-error' : hasErrors(paciente_form.ape_materno) }">
									<label for="ape_materno" class="control-label col-xs-12 col-sm-6 text-right">
										<strong class="grey">Apellido Materno </strong>
										<span class="required">*</span>
									</label>

									<input type="text" id="ape_materno" class="form-control col-xs-12 col-sm-6"
									       name="ape_materno" maxlength="150"
									       ng-disabled="!vm.enablePacienteForm"
									       ng-model="vm.paciente.persona.ape_materno" ng-required="true" ng-trim="false"
									       placeholder="Apellido Materno">
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-inline form-group">
									<label for="ape_casada" class="control-label col-xs-12 col-sm-6 text-right">
										<strong class="grey">Apellido Casada </strong>
									</label>

									<input type="text" id="ape_casada" class="form-control col-xs-12 col-sm-6"
									       name="ape_casada" maxlength="150"
									       ng-disabled="!vm.enablePacienteForm"
									       ng-model="vm.paciente.persona.ape_casada" ng-required="true" ng-trim="false"
									       placeholder="Apellido Casada">
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-inline form-group validate-required"
								     ng-class="{ 'has-error' : hasErrors(paciente_form.nombre) }">
									<label for="nombre" class="control-label col-xs-12 col-sm-6 text-right">
										<strong class="grey">Nombres </strong>
										<span class="required">*</span>
									</label>

									<input type="text" id="nombre" class="form-control col-xs-12 col-sm-6" name="nombre"
									       maxlength="150"
									       ng-disabled="!vm.enablePacienteForm"
									       ng-model="vm.paciente.persona.nombre" ng-required="true" ng-trim="false"
									       placeholder="Nombres">
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-inline form-group">
									<label for="sexo" class="control-label col-xs-12 col-sm-6 text-right">
										<strong class="grey">Sexo </strong>
										<span class="required">*</span>
									</label>

									<span ng-repeat="sexo in vm.lt_sexo">
										<input id="sexo" type="radio"
										       ng-disabled="!vm.enablePacienteForm"
										       ng-model="vm.paciente.persona.lt_sexo"
										       ng-value="sexo">
										{{sexo.nombre}}
									</span>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-inline form-group">
									<label for="lt_estado_civil" class="control-label col-xs-12 col-sm-6 text-right">
										<strong class="grey">Estado Civil </strong>
										<span class="required">*</span>
									</label>

									<select id="lt_estado_civil" class="form-control input-small col-xs-12 col-sm-6"
									        ng-model="vm.paciente.persona.lt_estado_civil"
									        ng-disabled="!vm.enablePacienteForm"
									        ng-options="lt_ec.nombre for lt_ec in vm.lt_estado_civil">
									</select>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-inline form-group">
									<label for="fec_nacimiento" class="control-label col-xs-12 col-sm-6 text-right">
										<strong class="grey">Fecha de Nacimiento </strong>
										<span class="required">*</span>
									</label>

									<input type="date" id="fec_nacimiento" class="form-control" name="fec_nacimiento"
									       ng-model="vm.paciente.persona.fec_nacimiento"
									       ng-disabled="!vm.enablePacienteForm"
									       ng-required="true">
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-inline form-group">
									<label for="lt_ocupacion" class="control-label col-xs-12 col-sm-6 text-right">
										<strong class="grey">Ocupación </strong>
										<span class="required">*</span>
									</label>

									<select id="lt_ocupacion" class="form-control input-small col-xs-12 col-sm-6"
									        ng-model="vm.paciente.persona.lt_ocupacion"
									        ng-disabled="!vm.enablePacienteForm"
									        ng-options="lt_ocu.nombre for lt_ocu in vm.lt_ocupacion">
									</select>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-inline form-group">
									<label for="lt_grupo_sanguineo" class="control-label col-xs-12 col-sm-6 text-right">
										<strong class="grey">Grupo Sanguineo </strong>
										<span class="required">*</span>
									</label>

									<select id="lt_grupo_sanguineo" class="form-control input-small col-xs-12 col-sm-6"
									        ng-model="vm.paciente.persona.lt_grupo_sanguineo"
									        ng-disabled="!vm.enablePacienteForm"
									        ng-options="lt_gs.nombre for lt_gs in vm.lt_grupo_sanguineo">
									</select>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-inline form-group">
									<label for="lt_rh"
									       class="control-label col-xs-12 col-sm-6 text-right">
									</label>
									<span ng-repeat="lt_rh in vm.lt_rh">
										<input id="lt_rh" type="radio"
										       ng-disabled="!vm.enablePacienteForm"
										       ng-model="vm.paciente.persona.lt_rh"
										       ng-value="lt_rh">
										{{lt_rh.nombre}}
									</span>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-inline form-group validate-required"
								     ng-class="{ 'has-error' : hasErrors(paciente_form.telefono) }">
									<label for="telefono" class="control-label col-xs-12 col-sm-6 text-right">
										<strong class="grey">Teléfono </strong>
										<span class="required">*</span>
									</label>

									<input type="text" id="telefono" class="form-control col-xs-12 col-sm-6"
									       name="telefono" maxlength="150"
									       ng-disabled="!vm.enablePacienteForm"
									       ng-model="vm.paciente.persona.telefono" ng-required="true" ng-trim="false"
									       placeholder="Teléfono">
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-inline form-group">
									<label for="lt_parentesco_jefe_hogar"
									       class="control-label col-xs-12 col-sm-6 text-right">
										<strong class="grey">Parentesco con Jefe del Hogar </strong>
										<span class="required">*</span>
									</label>

									<select id="lt_parentesco_jefe_hogar"
									        class="form-control input-small col-xs-12 col-sm-6"
									        ng-model="vm.paciente.persona.lt_parentesco_jefe_hogar"
									        ng-disabled="!vm.enablePacienteForm"
									        ng-options="lt_pjh.nombre for lt_pjh in vm.lt_parentesco_jefe_hogar">
									</select>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-inline form-group">
									<label for="lt_nivel_educativo" class="control-label col-xs-12 col-sm-6 text-right">
										<strong class="grey">Nivel Educativo </strong>
										<span class="required">*</span>
									</label>

									<select id="lt_nivel_educativo" class="form-control input-small col-xs-12 col-sm-6"
									        ng-model="vm.paciente.persona.lt_nivel_educativo"
									        ng-disabled="!vm.enablePacienteForm"
									        ng-options="lt_ne.nombre for lt_ne in vm.lt_nivel_educativo">
									</select>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-inline form-group validate-required"
								     ng-class="{ 'has-error' : hasErrors(paciente_form.centro_educativo) }">
									<label for="centro_educativo" class="control-label col-xs-12 col-sm-6 text-right">
										<strong class="grey">Centro Educativo </strong>
										<span class="required">*</span>
									</label>

									<input type="text" id="centro_educativo" class="form-control col-xs-12 col-sm-6" name="centro_educativo"
									       maxlength="150"
									       ng-disabled="!vm.enablePacienteForm"
									       ng-model="vm.paciente.persona.centro_educativo" ng-required="true" ng-trim="false"
									       placeholder="Centro Educativo">
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-inline form-group">
									<label for="ind_victima_violacion_ddhh"
									       class="control-label col-xs-12 col-sm-6 text-right">
									</label>
									<input type="checkbox" id="ind_victima_violacion_ddhh"
									       ng-model="vm.paciente.persona.ind_victima_violacion_ddhh"
									       ng-disabled="!vm.enablePacienteForm"
									       ng-true-value="true" ng-false-value="false">
									¿Víctima de violación de derechos humanos?
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-inline form-group">
									<label for="ind_provision_anticonceptivos"
									       class="control-label col-xs-12 col-sm-6 text-right">
									</label>
									<input type="checkbox" id="ind_provision_anticonceptivos"
									       ng-model="vm.paciente.persona.ind_provision_anticonceptivos"
									       ng-disabled="!vm.enablePacienteForm"
									       ng-true-value="true" ng-false-value="false">
									¿Provisión de anticonceptivos?
								</div>
							</div>

							<div class="col-xs-12">
								<div class="form-inline form-group validate-required"
								     ng-class="{ 'has-error' : hasErrors(paciente_form.ingresos_mensuales) }">
									<label for="ingresos_mensuales" class="control-label col-xs-12 col-sm-6 text-right">
										<strong class="grey">Ingresos Mensuales </strong>
										<span class="required">*</span>
									</label>

									<input type="text" id="ingresos_mensuales" class="form-control col-xs-12 col-sm-6" name="ingresos_mensuales"
									       maxlength="150"
									       ng-disabled="!vm.enablePacienteForm"
									       ng-model="vm.paciente.persona.ingresos_mensuales" ng-required="true" ng-trim="false"
									       placeholder="Ingresos Mensuales">
								</div>
							</div>

						</div>
					</form>

					<!-- Bottom Buttons -->
					<br>
					<div class="buttons">
						<div class="col-xs-1"></div>
						<div class="col-xs-2 text-center">
							<button class="btn btn-default" ng-click="vm.setEnablePacienteForm(true)">Editar Datos</button>
						</div>
						<div class="col-xs-2 text-center">
							<button class="btn btn-default" ng-click="save()">Guardar</button>
						</div>
						<div class="col-xs-2 text-center">
							<button class="btn btn-default" ng-click="vm.searchForm.clean()">Limpiar HC's</button>
						</div>
						<div class="col-xs-2 text-center">
							<button class="btn btn-default" ng-click="vm.searchForm.nuevo()">Nueva HC</button>
						</div>
						<div class="col-xs-2 text-center">
							<button class="btn btn-default" ng-click="vm.cancelar()">Cancelar</button>
						</div>
					</div>
					<!-- ------------ -->

				</div>
			</div>
		</div>
	</section>
</div>
