<section class="light_section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center">Bienvenido a Sistema Clinico</h2>
                <p>
	                Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
	                Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500
                </p>
            </div>
		</div>
	</div>
</section>